@{
	ViewData["Title"] = "Show All Contacts";
}

@model DataLibrary.Models.ShowContacts

<h1>Showing All Contacts in Database</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Subject</th>
			<th>Email</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>		
		@foreach (var contact in Model.Contacts)
		{
		<tr>
			<td>@contact.Name</td>
			<td>@contact.Subject</td>
			<td>@contact.Email</td>
			<td>@contact.Message</td>
			<td>
				<a asp-action="DeleteContact" asp-controller="Home" asp-route-id="@contact.Id" class="btn btn-sm btn-danger">Delete Contact</a>
			</td>
		</tr>
		}		
	</tbody>
	
</table>

